/*
CSS Base for the Miskatonic Herald
*/

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}


/*
* CSS for body
*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-color:#323232;*/
    background-image: url("https://picsum.photos/1600/900");
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #ffffff;
}


/*
* CSS for items
*/

content {
    height: 85%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3%;
}

items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

item {
    margin-top: 5%;
    align-self: center;
}

button {
    font-size: 22px;
    background-color: #6A2CE8;
    border: 1px solid black;
    box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.75);
    color: #FFEB1C;
    border-radius: 8%;
}

button:hover {
    transform: scale(1.1)
}

button:active {
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*
* CSS for steps
* - Includes the opacity for the 
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;
    margin-left: 5%;
    font-size: 1.3em;
}


/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/

steps * {
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
    transition-duration: 1s;
    transition-property: opacity;
    opacity: 0;
}

.estabaEscondido {
    opacity: 1;
}


/*Progress*/


/*
* CSS for ProgressBars
*/

progress {
    background-color: whitesmoke;
}

finalmsg {
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

@keyframes neon {
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}