html {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-areas: "header header" "mapa mapa";
    justify-content: center;
    background-image: url("../img/fondo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Turret Road";
    font-weight: bold;
}

header {
    display: grid;
    grid-area: header;
    text-align: center;
    color: brown;
    text-shadow: 2px 2px 1px ghostwhite;
    margin-top: 2%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    font-size: 200%;
}

#nivel {
    grid-column: 1 / span 2;
}

#vidas {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    justify-self: center;
    background: black;
    width: 65%;
    height: 110%;
    border: solid 1px white;
}

.life {
    background-image: url("../img/vida.gif");
    background-size: 60% 90%;
    background-repeat: no-repeat;
}

#mapa {
    display: grid;
    grid-area: mapa;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
    width: 800px;
    height: 600px;
    margin-top: 1%;
}

.camino {
    background-color: black
}


/******************SPRITES PERSONAJE************************/


/*clase cuando el personaje esta en la posicion inicial*/


/*Sprite de las huellas*/

.huellas {
    background-image: url("../img/huellas.png");
    background-size: 100% 100%;
    background-color: black;
    background-blend-mode: lighten, normal;
}

.flecha {
    background-image: url("../img/flecha.gif");
    background-size: 100% 100%;
}

.personaje {
    background-image: url("../img/link.png");
    background-size: 100% 100%;
    background-color: black;
    background-blend-mode: lighten, normal;
}


/*clase cuando el personaje se mueve hacia abajo*/

.personajeAbajo {
    background-image: url("../img/link_abajo.gif");
    background-size: 100% 100%;
    background-color: black;
    background-blend-mode: lighten, normal;
}


/*clase cuando el personaje se mueve hacia la derecha*/

.personajeDerecha {
    background-image: url("../img/link_walking.gif");
    background-size: 100% 100%;
    background-color: black;
    background-blend-mode: lighten, normal;
}


/*clase cuando el personaje se mueve hacia la izquierda*/

.personajeIzquierda {
    background-image: url("../img/link_izquierda.gif");
    background-size: 100% 100%;
    background-color: black;
    background-blend-mode: lighten, normal;
}


/*clase cuando el personaje se mueve hacia la arriba*/

.personajeArriba {
    background-image: url("../img/link_arriba.gif");
    background-size: 100% 100%;
    background-color: black;
    background-blend-mode: lighten, normal;
}


/*****************************PILAR*******************************/

.pilarActivo {
    background: blue;
    background-image: url("../img/sueloPilar.png");
    background-size: 100% 100%;
}

.pilarLlave {
    background-image: url("../img/key.gif");
    background-size: 100% 100%;
    background-color: black;
}

.pilarPergamino {
    background-image: url("../img/pergamino.gif");
    background-size: 100% 100%;
    background-color: black;
}

.pilarSarcofago {
    background-image: url("../img/sarcofago.gif");
    background-size: 100% 100%;
    background-color: black;
}


/*Sprite de la momia*/

.momia {
    background-image: url("../img/Gibdo.gif");
    background-size: 100% 100%;
    background-color: black;
    background-blend-mode: lighten, normal;
}

.pilar {
    background-image: url("../img/pilar.png");
    background-size: 100% 100%;
}


/***************************MURO************************************/

.muro {
    background: green;
}

.puerta {
    background-image: url("../img/puerta.jpg");
    background-size: 100% 100%;
    background-color: black;
    background-blend-mode: lighten, normal;
}