section {
    border-radius: 5%;
    border: 1px dotted black;
    width: 15%;
    margin-top: 0.5%;
}

p {
    text-align: center;
}

.caja {
    content: url("cthulhu.svg");
    width: 10%;
    height: 10%;
    border: 1px solid black;
}

.movimiento {
    transform: translateX(827%);
}

.linear {
    transition: 3s linear transform;
}

.ease-in {
    transition: 3s ease-in transform;
}

.ease-out {
    transition: 3s ease-out transform;
}

.ease {
    transition: 3s ease transform;
}

.ease-in-out {
    transition: 3s ease-in-out transform;
}