
html{
    background-color: #ADE4FF;
}
header{
    background-color: #2D68B3;


}
header img{
   
   margin-left: 43%;
   
}

header form {
    float: right;
    margin-top: 10%;
}

nav{
    background-color: #FFD78C;
}
header nav li{
    
   display: inline-block;
   text-align: center;
   margin-left:2%;
   margin-right: 2%;
   
}
header ul {
    margin-left: 30%;
}
main{
    float: left;
    width: 100%;
    background-color:#5AA6E8;
}
 main section{
    float: left;
    margin-left:2%;
}
main article {
    float: left;
    margin-left:6%; 
   margin-right: 6%;
}
footer{
    background-color: #2D68B3;
    clear: both;
}