
html{
    background-color: #ADE4FF;
}
header{
    background-color: #2D68B3;


}
header img{
   
   margin-left: 20%;
   
}

nav{
    background-color: #FFD78C;
   
}
header nav li{
    
   display: block;
   text-align: center;
   margin-top: 2%;
   margin-bottom: 2%;
}
header ul {
    margin-left: 5%;
}

header nav img {

    margin-left: 2%;

}

/*Si la resolucion es de un minimo de 361 pixeles cambia el navegador y la posicion del logo*/
@media (min-width: 361px){
    
    header img{
        margin-left: 43%;
    }
    
    header nav li{
        
       display: inline-block;
       text-align: center;
       margin-left:2%;
       margin-right: 2%;
       
    }
    header ul {
        margin-left: 30%;
    }
    
}
main{
    float: left;
    width: 100%;
    background-color:#5AA6E8;
}
 main section{
    float: left;
    margin-left:2%;
}
main article {
    float: left;
    margin-left:6%; 
   margin-right: 6%;
}
footer{
    background-color: #2D68B3;
    clear: both;
}


