:root{

    --html--background--color: grey;
}

body{
    background: var(--html--background--color);
    font-family: "Open Sans";
    
}

header h1 {

text-align: center;
font-size: 250%;

}

.navegacion{
    display: inline-block;
    margin-right:  13%;
    margin-bottom: 20%;
    width: 149px;
    
    
}
a{
    color: black;
    text-decoration: none;
    font-size: 120%;
}

a[rel='alternate']:after{

content: " Brexit";

}

a[rel='next']:before{

    content: url("img/circulosuma.svg");

}

a[rel='tag']:before{

    content: url("img/carrito.svg");
  

}

a[rel='bookmark']:before{

    content: url("img/star.svg");
    

}

a[rel='help']:before{

    content: url("img/pdf.svg");

}

a[rel='search']:before{

    content: url("img/lupa.svg");
}

a[rel='nofollow']:before{

    content: url("img/escudo.svg");
}