:root {
    --yellow: #ffc600;
    --black: #272727;
    --grey: #A1A1A1;
    --greenclaro: yellowgreen;
    --white: white;
}

/*estructura de la pagina, con el grid-template-area le estoy dando una estructura a la pagina*/
.pagina{
   
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-areas: "header header"
                         "nav main"
                         "nav footer";
    grid-gap: 0px 50px;                     
    font-size: 190%;

}

/*****************HEAD********************/
/*Con cada grid area señalo donde va cada caja*/
.pagina header{

    grid-area: header;
    justify-self: center;
    margin-bottom: 7%;
}

/**************NAV****************/
.pagina nav {

    grid-area: nav;
    justify-self: end;
    width: 40%; 
}

nav ul li, a{

    list-style: none;
    text-decoration: none;

}

ul{

margin-top: 0%;

}

li{
    
    box-shadow: 1px 1px 20px var(--black);
    margin-bottom: 5%;

}

/***************MAIN*****************/
/*Dentro del main hay que poner otro grid para poder estructurar bien todas las fotos*/
.pagina main{
    display: grid;
    grid-area: main;
    grid-template-columns:235px 235px 235px;
    grid-gap: 20px 0px;
    
}

.gallery__img{

    border: 1px solid var(--white);
    box-shadow: 1px 1px 6px var(--yellow);

}

/*Cuando le des a un enlace la imagen correspondiente saldra con un borde en verde*/
img:target{

    border-bottom: 7px solid var(--greenclaro);
    border-right: 3px solid var(--greenclaro);
    
}

/****************FOOTER************************/
.pagina footer{
    
    grid-area: footer;
    margin-top: 3%;
}