:root {
    --yellow: #ffc600;
    --black: #272727;
    --grey: #A1A1A1;
}

/*estructura de la pagina, con el grid-template-area le estoy dando una estructura a la pagina*/
.pagina{
   
    display: grid;
    grid-template-columns:1fr 3fr;
    grid-template-areas: "header header"
                         "nav main"
                         "nav footer";
    grid-gap: 10px;                     
    font-size: 180%;

}

/*Con cada grid area señalo donde va cada caja*/
.pagina header{

    grid-area: header;
    justify-self: center;
    margin-bottom: 2%;
}

.pagina nav {

    grid-area: nav;
    
     
}

nav ul li, a{

    list-style: none;
    text-decoration: none;

}

li{

    border: 1px solid black;

}

/*Dentro del main hay que poner otro grid para poder estructurar bien todas las fotos*/
.pagina main{
    display: grid;
    grid-area: main;
    grid-template-columns:235px 235px 235px;
    grid-gap: 20px 0px;
}

.gallery__img{

    border: 1px solid white;
    box-shadow: 1px 1px 6px var(--yellow);

}

/*Cuando le des a un enlace la imagen correspondiente saldra con un borde en verde*/
img:target{

    border-bottom: 7px solid yellowgreen;
    border-right: 3px solid yellowgreen;
    
}

.pagina footer{

    grid-area: footer;

}