html {
  background-color: #fef0c8;

  body {
    width: 80%;
    margin-left: 10%;

    #formulario {
      display: flex;
      flex-direction: column;

      #radios {
        display: block;
      }
    }

    #principal {
      display: grid;
      grid-template-columns: repeat(3, 2fr);

      .falla {
        display: grid;
        grid-template-rows: 50px 1fr 100px;
        justify-content: center;
        grid-gap: 1%;
        margin: 2%;
        background-color: #ffc885;
        border: 1px solid black;
        box-shadow: 9px 6px 13px -6px rgba(0, 0, 0, 0.75);

        .divTitulo {
          font-family: "Comic Sans MS", cursive, sans-serif;
          font-size: 15px;
          font-weight: 700;
          text-decoration: rgb(68, 68, 68);
          font-style: italic;
          font-variant: small-caps;
          text-transform: uppercase;
          text-shadow: 3px 3px 1px rgba(150, 150, 150, 1);

          p {
            text-align: center;
          }
        }
        .divImg {
          width: 500px;
          height: 500px;
          margin-top: 1%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .divPuntuacion {
          text-align: center;

          button {
            box-shadow: 0px 1px 0px 0px #fff6af;
            background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
            background-color: #ffec64;
            border-radius: 6px;
            border: 1px solid #ffaa22;
            display: inline-block;
            cursor: pointer;
            color: #333333;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #ffee66;
          }

          button:hover {
            background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
            background-color: #ffab23;
          }

          button:active {
            position: relative;
            top: 1px;
          }

          form {
            width: 250px;
            margin: 0 auto;
            height: 50px;

            p {
              text-align: center;
              direction: rtl;
              unicode-bidi: bidi-override;

              label {
                font-size: 20px;
              }
  
              input[type="radio"] {
                display: none;
              }
  
              label {
                color: grey;
              }
              
              label:hover,
              label:hover ~ label {
                color: orange;
              }
  
              input[type="radio"]:checked ~ label {
                color: orange;
              }

            }

         
          }

        }
      }
    }
  }
}
